.parent {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr 2fr;
  grid-template-rows: 0.2fr 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #1d5dbc;
  color: #fff;
  font-size: 23px;
  text-align: center;
}
.leftNavBar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nameinfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 242, 242);
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #add8e6;
  padding: 10px;
  border-radius: 2px;
  color: #2260b9;
  font-weight: bold;
  border: none;
  font-size: 19px;
  width: 13rem;
  height: 35px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 7px rgb(195, 193, 193);
  grid-area: 1 / 1 / 3 / 2;
}

.div3 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: #1d5dbc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #fff;
}

/* LOG OUT BUTTON */
.logoutButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eb6458;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  font-size: 25px;
  box-shadow: 1px 1px 7px rgb(139, 138, 140);
}
.logoutIcon {
  margin-left: 10px;
}

.div4 {
  grid-area: 2 / 2 / 4 / 3;
  background-color: rgb(242, 242, 242);
}
.div5 {
  grid-area: 1 / 3 / 3 / 4;
}
.div6 {
  grid-area: 3 / 3 / 4 / 4;
}

/* .div3::-webkit-scrollbar {
  width: 5px;
} */

/* .div3::-webkit-scrollbar-thumb {
  background-color: rgb(37, 140, 178);
  border-radius: 10px;
}

.div3::-webkit-scrollbar-thumb:hover {
  background-color: rgb(27, 107, 136);
}

.parent {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr 2fr;
  grid-template-rows: 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #1d5dbc;
  color: #fff;
  font-size: 23px;
}
.div2 {
  grid-area: 1 / 2 / 3 / 3;
  background-color: rgb(247, 243, 244);
}
.div3 {
  grid-area: 1 / 3 / 3 / 4;
  background-color: rgb(244, 237, 240);
  overflow-y: auto;
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #1d5dbc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #fff;
} */

/* Calc size of the tool bar for full screen */
/* .quill {
  height: calc(100vh - 42px);
}

.editIcon:hover {
  color: #53d0d2;
}

.userName {
  margin-bottom: 20%;
  font-size: 20px;
}

.leftNavBar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nameinfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.usr {
  margin-left: 12px;
}

.nameinfo {
  display: flex;
  flex-direction: row;
  color: rgb(248, 249, 246);
}

.divider {
  border-color: #fff;
}

.sideBottom {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.logoutButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eb6458;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  font-size: 25px;
  box-shadow: 1px 1px 7px rgb(139, 138, 140);
}

.logoutIcon {
  margin-left: 10px;
}

.logoutButton:hover {
  background-color: aqua;
  font-size: 26px;
  color: #1b6b88;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.btnItem {
  grid-area: 1 / 1 / 3 / 2;
}

.addBtn {
  align-items: center;
  justify-content: center;
  background-color: #add8e6;
  padding: 10px;
  border-radius: 2px;
  color: #2260b9;
  font-weight: bold;
  border: none;
  font-size: 19px;
  width: 15rem;
  height: 35px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 1px 1px 7px rgb(195, 193, 193);
  grid-area: 1 / 1 / 3 / 2;
}
.listItems {
  grid-area: 1 / 1 / 3 / 2;
}

.addBtn:hover {
  box-shadow: 1px 1px 10px rgb(153, 152, 152);
}

.quullBtn {
  background-color: #add8e6;
  width: 20rem;
  height: 1.8rem;
  margin-top: -20px;
  color: #2260b9;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  font-weight: bold; 
}

*/
